body {
    font-family: 'Nanum Gothic', sans-serif;
}

.head-title {
    color: #6b510a
}


.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.description {
    font-size: 2vw;
    width: 80%;
    text-align: center;
}

.container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-2,
.container-3,
.container-4,
.container-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vw;
}

.container-3,
.container-4,
.container-5 {
    display: none;
}


.head-description {
    color: #2c2c2c;
}

.box-1 {
    width: 50vw;
    margin-top: 5%;
    border-radius: 10px;
    border: 1.5px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.upper-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.head-screens {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    color: #737373;
    font-size: 2vw;
    font-weight: bold;
}

.input-img {
    margin-top: 5%;
    width: 28vw;
    height: 15vw;
    background-color: #ebe8e8;
    border: dashed 4px #a0a0a0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.my-form>h4,
#file-inp-label {
    text-align: center;
    color: #727171;
    font-size: 1.4vw;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}

#file-inp-label {
    border-bottom: solid #727171 2px;

}


.my-form>label {
    font-weight: 600;
}

#file-inp-label:hover {
    cursor: pointer !important;
}

.my-form>h4 {
    height: 1.2vw !important;
}


#fileElem {
    display: none;
}

a {
    text-decoration: underline;
    color: #737373 !important;
}

.info {
    margin: 5% 0 2% 0;
    display: flex !important;
    width: 37vw;
    justify-content: space-around;
    align-items: center;
}

.example-card {
    height: auto;
    max-width: 100%;
}

.exp-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.exp-div>p {
    font-family: 'Nanum Gothic', sans-serif;
    color: rgb(88, 88, 88);
    font-weight: bold;
    font-size: 1.3vw;
    margin-top: 10px;
    line-height: 1.8vw;
}

img {
    width: 100%;
    height: auto;
}

.learn {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.25vw;
    font-weight: bold;
    border-bottom: solid #c4c0c0 2px;
}

.warnings {
    color: #535353;
    margin-bottom: 2%;
    font-style: italic;
    text-align: center;
}

.warnings>h5 {
    font-size: 1.25vw;
}

@media(max-width:700px) {
    .box-1 {
        width: 70vw;
    }

    .info {
        width: 45vw;
    }

    img {
        width: 80%;
    }

    .warnings>h5 {
        font-size: 8.8125px;

    }

    .exp-text>p {
        font-size: 10.374px !important;
        text-align: center;
    }

}

@media(max-width:800px) {
    .info {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

.buttons-div {
    margin-bottom: 1.5%;
}

.btn-back {
    padding: 5px 1vw 5px 1vw;

}

.btn-next {
    padding: 5px 2.7vw 5px 2.7vw !important;
    background-color: #1277db;
    color: white;

}

.badge-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
}

.input-img-op {
    margin-top: 5%;

    background-color: #ebe8e8;
    border: solid 2px #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4% 0 4% 0;
}

.result>h2,
.result>h4 {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    margin: 3% 0 3% 0;
    font-weight: bold;
    color: rgb(105, 105, 105);
}

#drop-area.highlight {
    border-color: purple;
}

.faded-out {
    opacity: 0;
}

#loading-1,#loading-2{
    background: url('../images/spinner.gif') no-repeat center center;
     position: absolute;
    top: 0;
    left: 0; 
    height: 100%;
    width: 100%;
    z-index: 9999999;
}
.hide {
    display: none;
}